<div class="grid-x align-middle wf-bottom app-header">
  <h1 class="cell auto"><a routerLink="/">What Conference Next</a></h1>
  <div class="cell shrink">
    <a><mat-icon>account_circle</mat-icon></a>
  </div>
</div>

<mat-table #table [dataSource]="dataSource" class="listing-table">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="logo">
    <mat-header-cell *matHeaderCellDef class="col--logo header--logo">&nbsp;</mat-header-cell>
    <mat-cell *matCellDef="let row" class="col--logo cell--logo">
      <!--<mat-icon>video_label</mat-icon>-->
      <mat-icon style="width:64px;height:64px;font-size:64px">graphic_eq</mat-icon>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef class="col--name header--name"> Name </mat-header-cell>
    <mat-cell *matCellDef="let row" class="col--name cell--name">
      <h2>{{ row.name }} <a href="{{ row.website }}"><mat-icon>open_in_new</mat-icon></a></h2>
      <span class="location">{{ row.location[0] }} {{ row.location[1] }}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef class="col--date header--date"> When </mat-header-cell>
    <mat-cell *matCellDef="let row" class="col--date cell--date">
      <ng-container *ngIf="row.date && row.date.toISOString; else noDate"> {{ row.date | date:'EE, M MMM yyyy' }}</ng-container>
      <ng-template #noDate>TBA</ng-template>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="badges">
    <mat-header-cell *matHeaderCellDef class="col--badges header--badges">&nbsp;</mat-header-cell>
    <mat-cell *matCellDef="let row" class="col--badges cell--badges text-center">
      <span class="badge badge--conf-days" *ngIf="row.confDays && row.confDays > 1">{{ row.confDays }}d</span>
      <span class="badge badge--size" *ngIf="row.confSize">{{ getSizeBadge(row) }}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef class="col--price header--price text-center"> Price (from) </mat-header-cell>
    <mat-cell *matCellDef="let row" class="col--price cell--price text-right">
      {{ row.price | currency:row.priceCurrency:'symbol-narrow':'1.0' }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="focus">
    <mat-header-cell *matHeaderCellDef class="header--focus"> Focus </mat-header-cell>
    <mat-cell *matCellDef="let row" class="cell--focus text-center">
      <mat-chip-list>
        <mat-chip *ngFor="let tagName of row.tags">{{ tagName }}</mat-chip>
      </mat-chip-list>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="speakers">
    <mat-header-cell *matHeaderCellDef class="col--speakers header--speakers"> Speakers </mat-header-cell>
    <mat-cell *matCellDef="let row" class="col--speakers cell--speakers">
      <span *ngFor="let speaker of row.speakers" class="speaker-name">{{ speaker }}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class="col--actions header--actions text-center"></mat-header-cell>
    <mat-cell *matCellDef="let row" class="col--actions cell--actions text-center">
      <mat-icon>stars</mat-icon>
    </mat-cell>
  </ng-container>

   <mat-header-row *matHeaderRowDef="tableColumns" class="header-row"></mat-header-row>
  <mat-row *matRowDef="let row; columns: tableColumns;" class="table-row"></mat-row>
</mat-table>
