<mat-table #table [dataSource]="dataSource">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
  <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayColumns"></mat-row>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let row" class="mat-cell--multiline">
      <h2 class="event-name">
        <a [routerLink]="['ev', row.id]">{{ row.ref.name }}</a>
        <a href="{{ row.ref.website }}" target="_blank" class="show-on-hover"><mat-icon>open_in_new</mat-icon></a>
      </h2>
      <span class="location">{{ row.ref.city }}, {{ row.ref.country }}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef>When</mat-header-cell>
    <mat-cell *matCellDef="let row" class="mat-cell--multiline">
      <div class="event-date">
        <!--<ng-container *ngIf="row.ref.date && row.ref.date.toISOString; else noDate"> {{ row.ref.date | date:'EE, M MMM yyyy' }}</ng-container>-->
        <!--<ng-template #noDate>{{ row.ref.date || 'TBA' }}</ng-template>-->
        {{ row.date | date:'EE, M MMM yyyy' }}
      </div>
      <div class="event-duration">
        <!-- event duration (num of days) -->
        <span class="event-duration--days"><mat-icon>event</mat-icon> {{ row.ref.eventDuration }}</span>
        <!-- event add-ons, e.g. workshops (in num of days) -->
        <span class="event-duration--addon" *ngIf="row.ref.eventDuration > 1"><mat-icon>perm_data_setting</mat-icon> {{ row.ref.eventDuration - 1 }}</span>
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef>Price (from)</mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{ row.ref.price | currency:row.ref.priceCurrency:'symbol-narrow':'1.0' }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="tags">
    <mat-header-cell *matHeaderCellDef>Tags</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <span *ngFor="let tag of row.tags" class="badge">{{ tag.name }}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-icon class="show-on-hover">stars</mat-icon>
    </mat-cell>
  </ng-container>
</mat-table>
