// Set to true to show current breakpoint / font size
$debug-breakpoint-size: false;

$body-font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-family-monospace: 'Operator Mono', Consolas, 'Liberation Mono', 'Menlo', Courier, monospace;

$gutter-size: 1.5rem !default; // 24px
$grid-container: rem-calc(1256);

$grid-column-gutter: $gutter-size;
$grid-margin-gutters: $grid-column-gutter;
$grid-padding-gutters: $grid-margin-gutters;

/// Breakpoints
$breakpoints: (
  /* MINI: everything 320 and below */ mini: 0,
  /* SMALL screen (phones): 320 and above */ small: 321px,
  /* MEDIUM screen (tablets): 640 and above */ medium: 641px,
  /* LARGE screen (smaller laptops): 1000 and above (will catch 1024 and around) */ large: 1000px,
  /* EXTRA LARGE screen (laptops, regular screens): 1200 and above ( will catch 1280 and around) */ xlarge: 1201px,
  /* XXL screens (Hi DPI screens, TVs, projectors etc): 1680 and above */ xxlarge: 1681px
);
$-zf-zero-breakpoint: mini;

// All of the names in this list will be output as classes in your CSS,
// like .small-12, .medium-6, and so on. Each value in this list
// must also be in the $breakpoints map.
// @see $breakpoints
$breakpoint-classes: (mini small medium large xlarge);

/// Default spacing unit (used for padding, margins etc)
$app-spacing-unit: $gutter-size/2 !default; // 12px

/// Medium spacing unit
$app-spacing-unit-medium: 0.5rem !default; // 8px

/// Small spacing unit, half of the default one
$app-spacing-unit-small: $gutter-size/4 !default; // 6px

/// Tiny spacing unit
$app-spacing-unit-tiny: 0.25rem !default; // 4px

/// Font weight: normal (default)
$app-font-weight-normal: 300 !default;
/// Font weight: semi-bold
$app-font-weight-semi-bold: 400 !default;
/// Font weight: bold
$app-font-weight-bold: 700 !default;

/// Default line height
$app-line-height: 1.5 !default;

/// Smaller line height, for e.g. large headlines
$app-line-height-small: 1.25 !default;

/// Default `letter-spacing` for all text
$app-letter-spacing: 0.03rem; // 0.5px
/// Extra spacing for text (e.g. in headlines)
$app-letter-spacing-extra: 0.125rem; // 2px

// Font sizes map, gathering all font sizes
$app-font-sizes: (
  'base': 0.875rem,
  'h1': 2.25rem,
  'h2': 1.5rem,
  'h3': 1.25rem,
  'h4': 1rem,
  'h5': 0.75rem,
  'h6': 0.75rem,
  'xs': 0.625rem,
) !default;

// Font size (`mini` breakpoint)
// We modify :root element font size to different value than default (16px in all browsers)
// to achieve basic responsiveness for text size and anything else for which unit
// is provided in `rem`).
$app-font-size-mq-mini: 12px;
// Font size (`small` breakpoint)
$app-font-size-mq-small: 13px;
// Font size (`medium` breakpoint)
$app-font-size-mq-medium: 15px;
// Font size (`xxlarge` breakpoint)
$app-font-size-mq-xxlarge: 20px;

// Basic transition function
$app-transition-fn: 280ms cubic-bezier(0.19, 1, 0.22, 1);
