@import 'abstracts';

:host {
  position: relative; // to keep the loader within...
  display: block;
}

.event-primary-info {
}
.event-primary-info__meta {
  margin-top: $app-spacing-unit * 2;
}
.event-description {
  font-size: map-get($app-font-sizes, h4);
}

.event-secondary-info {
  @include breakpoint(small down) {
    // This column will collapse under .event-primary-info
    // (which is normally to the left) and therefore needs bit spacing before.
    margin-top: $app-spacing-unit;
  }

  h4 {
    margin-bottom: $app-spacing-unit-medium;
  }
  p {
    font-size: map-get($app-font-sizes, h5);
  }
}
