<app-loader *ngIf="loading" message="Loading event..."></app-loader>

<div *ngIf="ev" class="grid-x grid-margin-x align-justify">
  <div class="cell">
    <h1 class="event-name">
      {{ ev.ref.name }}
      <small>
        <a *ngFor="let tag of ev.tags" [routerLink]="getTagLink(tag)" class="badge">{{ tag.name }}</a>
      </small>
    </h1>
  </div>

  <div class="cell medium-9 event-primary-info">
    <h4>
      {{ ev.ref.date | date:'fullDate' }}
      <ng-container *ngIf="ev.ref.eventDuration > 1">- {{ ev.ref.eventDuration }} days</ng-container>
    </h4>

    <p class="event-description">{{ ev.ref.description }}</p>

    <div class="grid-x event-primary-info__meta">
      <div class="cell mini-4">
        <h4>Price</h4>
        <p *ngIf="ev.ref.price === 0; else priced" class="text-strong">Free</p>
        <ng-template #priced>
          <p *ngIf="!ev.ref.price" class="text-strong">{{ isPastEvent ? 'n/a' : 'To be announced' }}</p>
          <p *ngIf="ev.ref.price"><small>from</small> <strong> {{ ev.ref.price | currency:'USD':'symbol':'1.0-0' }}</strong></p>
        </ng-template>
      </div>

      <div class="cell mini-4">
        <h4>Website</h4>
        <a href="{{ ev.ref.website }}">{{ getUrlForDisplay(ev.ref.website) }}</a>
      </div>

      <div class="cell mini-4">
        <h4>Social media</h4>
        <a *ngIf="ev.ref.twitterHandle" href="https://twitter.com/{{ ev.ref.twitterHandle }}">@{{ ev.ref.twitterHandle }}</a>
        <span *ngIf="!ev.ref.twitterHandle">n/a</span>
      </div>
    </div>
  </div>

  <div class="cell medium-2 event-secondary-info grid-x align-self-top">
    <div class="cell mini-4 medium-12">
      <h4>Location</h4>
      <p>
        {{ ev.ref.address }}
        {{ ev.ref.city }}, <strong>{{ ev.ref.country }}</strong>
      </p>
    </div>

    <div class="cell mini-4 medium-12" *ngIf="ev.sizeBand">
      <h4>Event size</h4>
      <p><strong>{{ ev.sizeBand.name }}:</strong> {{ ev.sizeBand.description }}</p>
    </div>

    <div class="cell mini-4 medium-12">
      <h4>Workshops</h4>
      <p *ngIf="(ev.ref.workshops || ev.ref.freeWorkshops); else noWorkshops">
        <strong>Yes</strong>
        <ng-container *ngIf="ev.ref.workshops && ev.ref.freeWorkshops"> (paid + free)</ng-container>
        <ng-container *ngIf="ev.ref.workshops && !ev.ref.freeWorkshops"> (paid only)</ng-container>
        <ng-container *ngIf="!ev.ref.workshops && ev.ref.freeWorkshops"> (free)</ng-container>
      </p>
      <ng-template #noWorkshops>
        <p><strong>No</strong></p>
      </ng-template>
    </div>
  </div>

  <div class="cell text-right">
    <hr />
    <a [routerLink]="['/', 'edit', ev.id]" mat-raised-button color="accent">Edit Event</a>
  </div>
</div>

<ng-container *ngIf="notFound">
  <app-not-found-page message="Hey! It looks like this event doesn't exist yet."></app-not-found-page>
</ng-container>
