.app-header {
  border-bottom: 1px solid $app-color-border;
  background-color: $app-color-bg-gray;

  a {
    color: inherit; // remove default link color
  }
  &__name {
    padding-top: $app-spacing-unit;
  }
}

.app-menu {
  .app-menu-item--user {
    margin-left: $app-spacing-unit * 2;
  }
}

.app-main-container {
  padding-top: $app-spacing-unit;
  padding-bottom: $gutter-size * 2; // add some extra light at the bottom of the page
}
