.app-header {
  border-bottom: 1px solid $app-color-border;
  background-color: $app-color-bg-dark;
  color: $app-color-text-inverted;

  a {
    color: inherit; // remove default link color
  }
  .app-header__logo {
    @include h3;
    padding-top: $app-spacing-unit;
  }
}

.app-menu {
  .app-menu-item--user {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    margin-left: $app-spacing-unit * 2;
    @include breakpoint(small down) {
      margin-left: $app-spacing-unit;
    }
  }
}

.app-main-container {
  padding-top: $app-spacing-unit;
  padding-bottom: $gutter-size * 2; // add some extra light at the bottom of the page

  // set min height, with offset equal to roughly header+footer height
  min-height: calc(100vh - 7.3rem);
}

.app-footer {
  padding: 2 * $app-spacing-unit 0;
  @include breakpoint(small down) {
    padding: $app-spacing-unit 0;
  }

  border-top: 1px solid $app-color-border-strong;

  .grid-x {
    opacity: 0.75; // make whole footer bit lighter for now...
  }

  .cell {
    // On small screen the cells collapse. It looks better when it's aligned to center then.
    @include breakpoint(small down) {
      text-align: center;
    }
  }
}
