@import 'abstracts';

$avatar-size: 2rem;
$avatar-font-size: 1.6rem;

:host {
  width: 100%;
  height: 100%;
  display: inline-block;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-top: -2px; // fix IMG positioning inside mat-icon-button
}

.mat-icon {
  font-size: 1.6rem;
  width: 100%;
  height: 100%;
  line-height: 2rem;
  color: $app-color-text;
}
