<header class="app-header">
  <div class="grid-container">
    <div class="grid-x align-middle align-justify">
      <div class="cell mini-10">
        <h1 class="app-header__name cell"><a routerLink="/">What Converence Next</a></h1>
      </div>
      <div class="cell shrink">
        <a mat-icon-button routerLink="/user">
          <mat-icon>perm_identity</mat-icon>
        </a>
      </div>
    </div>
  </div>
</header>

<div class="grid-container app-main-container">
  <router-outlet></router-outlet>
</div>
