<header class="app-header">
  <div class="grid-container">
    <div class="grid-x align-middle align-justify">
      <div class="cell mini-8">
        <h1 class="app-header__logo cell"><a routerLink="/">What Conference Next</a></h1>
      </div>
      <div class="cell mini-4 text-right app-menu">
        <a class="app-menu-item" routerLink="/edit">New Event</a>
        <a class="app-menu-item app-menu-item--user" mat-raised-button mat-icon-button routerLink="/user">
          <app-user-avatar [user]="user$ | async"></app-user-avatar>
        </a>
      </div>
    </div>
  </div>
</header>

<div class="grid-container app-main-container">
  <router-outlet></router-outlet>
</div>

<footer class="app-footer">
  <div class="grid-container">
    <div class="grid-x small">
      <div class="cell medium-8">
        &copy; What Conference Next - easily find the next technical event for you
      </div>
      <div class="cell medium-4 text-right">
        Made with <span class="color-accent">❤</span> by <a href="https://twitter.com/ryzmen">@ryzmen</a>
        &nbsp; | &nbsp;
        <a href="mailto:hi@what-conference-next.com">Contact</a>
      </div>
    </div>
  </div>
</footer>
