<ng-container *ngIf="user$ | async as user; else showLogin">
  <h2>Hi {{ user.displayName }}!</h2>
  <button mat-raised-button (click)="logout()" class="button-logout">Logout</button>

  <hr />

  <p>
    It's empty here for now. In the future we'll have here your favourite events and events you own and/or have access
    to edit.
  </p>
</ng-container>

<ng-template #showLogin>
  <h2>Please log in</h2>

  <button class="button-login--google" mat-raised-button (click)="loginGoogle()">
    <mat-icon>verified_user</mat-icon> Login with Google
  </button>
  <button class="button-login--facebook" mat-raised-button (click)="loginFacebook()">
    <mat-icon>people</mat-icon> Login with Facebook
  </button>
  <p>or use our <a routerLink="login">login form</a>.</p>

  <hr />

  <h6>
    <strong>Why log in?</strong><br />
    You'll need to log in if you want to contribute content to the site (i.e. add or edit events). No fuss for now,
    everyone can do anything. In the future, functionality like starring events, voting or submitting reviews also will
    require being authenticated.
  </h6>
</ng-template>
